This is a personal blog site for A. David Thyresson built using:

- Astro framework
  - has static site generator
    - most pages will be static and prerendered
  - has database adapter
    - uses Astro DB adapter
    - uses Turso as remote production database
    - these pages will be dynamic and not prerendered
  - has Netlify adapter for SSR
- TailwindCSS for styles
- deploys to Netlify
  - for static pages
  - for dynamic pages (SSR)


  Important:

- Only answer with code for Astro framework
- Always use spaces, not tabs
- Always be concise, but helpful
