---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<ul>
  <li>
    <code>Thyresson</code> is a 🇸🇪-ish surname pronounced
    &quot;tear-eh-son&quot; or simply: 😢 ☀️. It comes from
    <a href="https://en.wikipedia.org/wiki/Norse_mythology"
      >Norse Mythology</a
    >: ᛏ &quot;son of
    <a href="https://en.wikipedia.org/wiki/T%C3%BDr">Týr</a>&quot;.
  </li>
</ul>
<ul>
  <li>
    I’ve been to lots of 🛫 airports:
    <a href="https://iata.thyresson.io?q=ABQ">ABQ</a>,
    <a href="https://iata.thyresson.io?q=AKL">AKL</a>,
    <a href="https://iata.thyresson.io?q=AMS">AMS</a>,
    <a href="https://iata.thyresson.io?q=ANC">ANC</a>,
    <a href="https://iata.thyresson.io?q=ARN">ARN</a>,
    <a href="https://iata.thyresson.io?q=ASP">ASP</a>,
    <a href="https://iata.thyresson.io?q=ATL">ATL</a>,
    <a href="https://iata.thyresson.io?q=AUS">AUS</a>,
    <a href="https://iata.thyresson.io?q=BER">BER</a>,
    <a href="https://iata.thyresson.io?q=BHE">BHE</a>,
    <a href="https://iata.thyresson.io?q=BKK">BKK</a>,
    <a href="https://iata.thyresson.io?q=BIS">BIS</a>,
    <a href="https://iata.thyresson.io?q=BNA">BNA</a>,
    <a href="https://iata.thyresson.io?q=BOS">BOS</a>,
    <a href="https://iata.thyresson.io?q=BUF">BUF</a>,
    <a href="https://iata.thyresson.io?q=BWI">BWI</a>,
    <a href="https://iata.thyresson.io?q=CHC">CHC</a>,
    <a href="https://iata.thyresson.io?q=CDG">CDG</a>,
    <a href="https://iata.thyresson.io?q=CLE">CLE</a>,
    <a href="https://iata.thyresson.io?q=CPH">CPH</a>,
    <a href="https://iata.thyresson.io?q=CVG">CVG</a>,
    <a href="https://iata.thyresson.io?q=DEL">DEL</a>,
    <a href="https://iata.thyresson.io?q=DEN">DEN</a>,
    <a href="https://iata.thyresson.io?q=DFW">DFW</a>,
    <a href="https://iata.thyresson.io?q=DTW">DTW</a>,
    <a href="https://iata.thyresson.io?q=ENA">ENA</a>,
    <a href="https://iata.thyresson.io?q=EWR">EWR</a>,
    <a href="https://iata.thyresson.io?q=FLL">FLL</a>,
    <a href="https://iata.thyresson.io?q=GVA">GVA</a>,
    <a href="https://iata.thyresson.io?q=HBA">HBA</a>,
    <a href="https://iata.thyresson.io?q=HEL">HEL</a>,
    <a href="https://iata.thyresson.io?q=IAD">IAD</a>,
    <a href="https://iata.thyresson.io?q=IAH">IAH</a>,
    <a href="https://iata.thyresson.io?q=ICT">ICT</a>,
    <a href="https://iata.thyresson.io?q=IND">IND</a>,
    <a href="https://iata.thyresson.io?q=IVC">IVC</a>,
    <a href="https://iata.thyresson.io?q=JFK">JFK</a>,
    <a href="https://iata.thyresson.io?q=KUL">KUL</a>,
    <a href="https://iata.thyresson.io?q=LAS">LAS</a>,
    <a href="https://iata.thyresson.io?q=LAX">LAX</a>,
    <a href="https://iata.thyresson.io?q=LHR">LHR</a>,
    <a href="https://iata.thyresson.io?q=LGA">LGA</a>,
    <a href="https://iata.thyresson.io?q=LGB">LGB</a>,
    <a href="https://iata.thyresson.io?q=LGW">LGW</a>,
    <a href="https://iata.thyresson.io?q=MCO">MCO</a>,
    <a href="https://iata.thyresson.io?q=MEL">MEL</a>,
    <a href="https://iata.thyresson.io?q=MEM">MEM</a>,
    <a href="https://iata.thyresson.io?q=MIA">MIA</a>,
    <a href="https://iata.thyresson.io?q=MFR">MFR</a>,
    <a href="https://iata.thyresson.io?q=MSP">MSP</a>,
    <a href="https://iata.thyresson.io?q=MSY">MSY</a>,
    <a href="https://iata.thyresson.io?q=NRT">NRT</a>,
    <a href="https://iata.thyresson.io?q=ONT">ONT</a>,
    <a href="https://iata.thyresson.io?q=ORD">ORD</a>,
    <a href="https://iata.thyresson.io?q=OSL">OSL</a>,
    <a href="https://iata.thyresson.io?q=PDX">PDX</a>,
    <a href="https://iata.thyresson.io?q=PHL">PHL</a>,
    <a href="https://iata.thyresson.io?q=PHX">PHX</a>,
    <a href="https://iata.thyresson.io?q=RDU">RDU</a>,
    <a href="https://iata.thyresson.io?q=RSW">RSW</a>,
    <a href="https://iata.thyresson.io?q=SAT">SAT</a>,
    <a href="https://iata.thyresson.io?q=SEA">SEA</a>,
    <a href="https://iata.thyresson.io?q=SFO">SFO</a>,
    <a href="https://iata.thyresson.io?q=SIN">SIN</a>,
    <a href="https://iata.thyresson.io?q=SJU">SJU</a>,
    <a href="https://iata.thyresson.io?q=SLC">SLC</a>,
    <a href="https://iata.thyresson.io?q=SRQ">SRQ</a>,
    <a href="https://iata.thyresson.io?q=STL">STL</a>,
    <a href="https://iata.thyresson.io?q=STX">STX</a>,
    <a href="https://iata.thyresson.io?q=SVO">SVO</a>,
    <a href="https://iata.thyresson.io?q=SYD">SYD</a>,
    <a href="https://iata.thyresson.io?q=TPA">TPA</a>,
    <a href="https://iata.thyresson.io?q=WLG">WLG</a>,
    <a href="https://iata.thyresson.io?q=YEG">YEG</a>,
    <a href="https://iata.thyresson.io?q=YUL">YUL</a>,
    <a href="https://iata.thyresson.io?q=YYZ">YYZ</a>,
    <a href="https://iata.thyresson.io?q=ZIA">ZIA</a>,
    <a href="https://iata.thyresson.io?q=ZUR">ZUR</a>
  </li>
</ul>
<ul>
  <li>
    I graduated from
    <a href="https://www.andover.edu">Phillips Andover</a> and
    <a href="https://www.middlebury.edu">Middlebury</a>.
  </li>
</ul>
<ul>
  <li>
    I’ve seen the 🏒
    <a href="https://www.nhl.com/bruins/">Boston Bruins</a> play in
    three <del>lose two</del> Stanley Cup Finals.
  </li>
</ul>
<ul>
  <li>
    My first computers were the
    <a href="https://en.wikipedia.org/wiki/Timex_Sinclair"
      >Timex Sinclair</a
    >, <a href="https://en.wikipedia.org/wiki/Apple_IIc">Apple IIc</a>,
    <a href="https://en.wikipedia.org/wiki/Apple_IIGS">Apple IIGS</a>,
    <a href="https://en.wikipedia.org/wiki/Amiga_2000">Amiga 2000</a>,
    and
    <a href="https://en.wikipedia.org/wiki/Macintosh_SE/30">Mac SE/30</a
    >.
  </li>
</ul>
<ul>
  <li>
    I also have <a href="https://github.com/dthyresson">GitHub</a>,
    <a href="https://www.val.town/u/dthyresson">Val town</a>,
    <a href="https://twitter.com/dthyresson">Twitter</a> and
    <a href="https://www.linkedin.com/in/dthyresson/">LinkedIn</a>
    pages.
  </li>
</ul>
</Layout>
