<div class="space-y-4">
  <p class="text-lg">
    Thoughts on technology, AI, and investing, along with things I've built and
    some rediscovered content from my past: including photos, recipes and papers
    from my English Comprehensive exams and Joyce Seminars at Middlebury College
    ('96-'97) found on old Zip disks - and other ephermera from my career in
    tech.
  </p>
  <p>Consider the dates a timeline rather when published or first written.</p>
  <p class="text-sm text-gray-500 mb-8">
    Many hero images are AI generated using <a
      href="https://fal.ai"
      class="underline">fal.ai</a
    > using the <a
      href="https://fal.ai/models/fal-ai/flux/dev"
      class="underline">fal-ai/flux/dev</a
    > and <a href="https://fal.ai/models/fal-ai/flux/schnell" class="underline"
      >fal-ai/flux/schnell</a
    >&nbsp;models.
  </p>
</div>
